:root{
    --bg-primary: #060b14;
    --bg-secondary: #0d1726;

    --white-btn: hsl(0, 0%, 90%);
    --w-btn-text: hsl(0, 0%, 10%);
    --btn-hover: hsl(210, 65%, 55%);;

    --primary-text: hsl(0, 0%, 95%);
    --secondary-text: hsl(0, 0%, 80%);

    --blue-highlight: hsl(210, 65%, 55%);
}
 
.holder h3{
    font-size: 12pt;

    animation: popIn2 4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.campus-info{
    /* background: red; */

    height: 500px;
    width: 90vw;
    margin-top: 2vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.campus-info .vertical-line{
    height: 100%;
    width: 2px;
    background: var(--blue-highlight);
    opacity: 0.5;
}

.campus-info .left-side{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10vh;

    margin-bottom: 100px;
}

.campus-info .right-side{
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    gap: 8vh;
}

.campus-info .left-side img{
    height: 150px;
    animation: 
    slideInUp 1s ease-out,
    moving 2s ease-in-out infinite;
}

.campus-info .right-side img{
    height: 150px;
    animation: 
    slideInUp 1.5s ease-out,
    moving 2s ease-in-out infinite;
}