@media (max-width: 650px){

    h1, h2, h3, p{
        font-family: Roboto, sans-serif;
        text-align: center;
    }

    .bg-depth{
        height: 100vh;
        width: 110vw;
        z-index: -1000;

        position: fixed;
        top: 85vh;
        border-top-left-radius: 80%;
        border-top-right-radius: 80%;

        background: var(--bg-primary);
    }

    .outer-glow{
        z-index: -2000;
        position: fixed;
        top: 60vh; 

        animation: popIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    }   

    .flare{
        z-index: -2000;
        position: fixed;

        top: 120px;
    }

    .flare img{
        height: 40px;
        width: 600px;

        animation: popIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    }

    .elements{
        opacity: 0;
    }

    /* .elements .robo1{
        position: fixed;
        right: 120px;
        top: 660px;
    }

    .elements .robo1 img{
        height: 100px;
    }

    .elements .robo2{
        left: 40px;
        bottom: 200px;

        animation: none;
    }

    .elements .robo2 img{
        height: 300px;
    } */

    /* HEADER */
    header{
        width: 95vw;
        height: 80px;

        position: fixed;
        top: 30px;

        animation: popIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    }

    .navbar{
        gap: 20px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }

    /* MIDDLE SECTION */
    .holder{
        margin-top: 15vh;
        margin-bottom: 1vh;
    }

    .counts{ 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1vh;
    }

    .counts .card{
        height: 100px;
        width: 180px;
        padding: 1vh;
    }

    .holder h1{
        font-size: 18pt; 
    }

    .holder h2{
        font-size: 16pt; 
    }

    .holder h3{
        font-size: 12pt;
        color: var(--primary-text);
    }

    .holder p{
        font-size: 2vh;  
    }

    /* CAMPUS */
    .campus-info{
        margin-top: 0;
    }

    .campus-info .vertical-line{
        height: 60%;
        width: 2px;
        background: var(--blue-highlight);
    }

    .campus-info .left-side img{
        height: 100px;
    }

    .campus-info .right-side img{
        height: 100px;
    }

    /* CIRRICULUM */
    .curriculum{ 
        flex-direction: column; 
    } 

    .curriculum .card{
        height: 280px;
        width: 350px;
    }

    .curriculum .card img{
        height: 50px;
    }


    /* FUTURE */
    .future-card-holder{ 
        flex-direction: column; 
        gap: 1vh;
    }

    .future-card-holder h2{
        font-size: 12pt;
    }

    /* PRE REQ */
    .prereq-card-holder{ 
        flex-direction: column; 
        gap: 1vh;
    }

    .prereq-card-holder h2{
        font-size: 12pt;
    }
}